<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car</title>
</head>
<body>
<p th:text="${car.getId()}"></p>
<p th:text="${car.getMake()}"></p>
<p th:text="${car.getModel()}"></p>
<p th:text="${car.getYearOfProduction()}"></p>
<form th:method="GET" th:action="@{/cars/edit/{id}(id=${car.getId()})}">
    <input type="submit" value="Edit Car">
</form>
<form th:method="DELETE" th:action="@{/cars/{id}(id=${car.getId()})}">
    <input type="submit" value="Delete Car">
</form>
</body>
</html>