<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
</head>
<body>
<div th:each="car : ${cars}">
    <a
            th:href="@{/cars/{id}(id=${car.getId()})}"
            th:text="${car.getMake()+' '+car.getModel()}"
    ></a>
</div>
<form th:method="GET" th:action="@{/cars/new}">
    <input type="submit" value="Create new Car">
</form>
</body>
</html>